@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
/* ↑ imports ↑ */

@keyframes loading {
    0% {color: grey}
    50% {color: var(--main-accent)}
    100% {color: grey}
}

@keyframes loadanim {
    0% {background-position:90% 50%}
    50% {background-position:10% 50%}
    100% {background-position:90% 50%}
}

@keyframes loadscroll {
    0% {transform: translate(0%,0)}
    100% {transform: translate(-53%,0)}
}

@keyframes backscroll {
    100% {background-position: -400px -400px}
}
/* ↑ keyframes ↑ */

@media (orientation: portrait) {
    #left {width: 30% !important; height: 72% !important}
        #left h1 {font-size: 5.55vw !important}
        #news {flex-direction: column}
            #news div {width: 100% !important}
    #main {width: 70% !important}
        #solar {height: 100% !important}
        #list {display: none !important}
    #middle {display: none !important}
    #right {bottom: 0; position: absolute; height: 33% !important; width: 30% !important;
        > *:not(#notifications) {display: none !important}
        #notifications {height: 100% !important; max-height: unset !important; border-right: 2px solid var(--border)}
    }
    #overlay {clip-path: polygon(28% 0, 100% 0, 100% 100%, 28% 100%) !important}
}

@media (max-height: 530px) {
    #left > h3 {display: none}
        #news {margin-top: 11vh}

    #solar {height: 100% !important}
    #list {display: none !important}
}

@media (max-width: 950px) {
    #right * {margin: 0 !important}
    #gallery > div > div > p {display: none}
    #gallery > div > div img {margin-left: 0 !important}
}

@media (max-width: 1360px) {
    .buttons div p {flex: 0}
}
/* ↑ dyanmic media ↑ */

* {scrollbar-width: none; margin: 0; font-family: "Arial"; overflow: hidden}
body {position: absolute; height: 100vh; width: 100vw; background: var(--background); display: flex; pointer-events: none;
    * {pointer-events: all; color: var(--background)}}
small.loading {user-select: none; animation: loading 1s infinite}
small.loadscroll {user-select: none; animation: loading 1s infinite, loadscroll 5s infinite linear; display: block}
.loading div {background: linear-gradient(225deg, grey, white); background-size: 400%; animation: loadanim 2s infinite}
p span {color: var(--main-accent) !important; margin: 0 !important; cursor: pointer}
small.sign {align-self: center; margin: 1.5vh !important; cursor: pointer; bottom: 0; position: absolute}
/* ↑ elements ↑ */

#left {width: 20%; background: var(--main-accent);
    * {overflow: visible; font-family: "Anton SC", sans-serif; margin: 8%;
        * {margin: 0}
    }
    h3 {letter-spacing: 1px; width: 84%; border-top: 1px solid var(--dark-accent); border-bottom: 1px solid var(--dark-accent); line-height: 78%; text-wrap: nowrap; height: 2%}
    h1 {text-shadow:
        0.8px 0.8px 0 var(--background),
        -0.8px 0.8px 0 var(--background),
        -0.8px -0.8px 0 var(--background),
        0.8px -0.8px 0 var(--background);
    letter-spacing: 1px; color: var(--main-accent); position: absolute; font-size:3.3vw; font-weight: initial;
        &::after {letter-spacing: 1px; color: var(--background); position: absolute; content: "Gramweb -"; left: 0; clip-path: polygon(362px 500%, 114.74% 1px, 91.24% -0.33%, 5px 94.33%); top: 0}
    }
    #media {height: 24px; display: flex;
        * {margin-right: 3px; user-select: none}
        svg {cursor: pointer}
    };
    #news {display: flex; overflow-y: auto; height: 69%;
        div {width: 47.5%; background: var(--main-accent); z-index: 2}
            > div > div {width: 100%; height: fit-content; border-bottom: 1px var(--background) solid; margin-bottom: 4px}
                div {
                    img {width: 100%; filter: grayscale(); transition-delay: 0.5s; transition-duration: 1s; position: relative;
                        &:hover {filter: none}
                    }
                    div {
                        div {width: 100%; background:linear-gradient(225deg, grey, white); background-size: 400%; animation: loadanim 2s infinite}
                        h4 {height: 19px; line-height: 16px; font-size: 10px; white-space: nowrap; font-weight: lighter}
                        h3 {width: auto; font-size: 14px; letter-spacing: -0.8px; font-weight: lighter}
                        p {line-height: 7px; font-size: 10px; margin-top: 10px; margin-bottom: 10px; font-family: "Bona Nova SC", serif; font-weight: bold}
                    }
                }
    }
}

#main {width: 50%; background: var(--background); z-index:-2; display: flex; flex-direction: column;
    > div {width: 100%; height: 50%}
    #context {width: 100%; height: 100%; position: absolute; left: 0; border: #423936}
    #list {background: var(--background); z-index: 1;
        .panel {height:calc(100% - 45px) !important; margin-top: 3%; margin-left: 18px; width: 100%;
            h1 {font-family: "Anton SC", sans-serif; height:  38px; color: var(--main-accent) !important; border-bottom: 2px solid #7b7873; letter-spacing: 2px}
        }
        div whitespace {width: 2px; height:calc(100% - 45px); margin-top: 3%; background: var(--border); flex-shrink: 0}
            #setting {display: flex;
                * {flex-shrink: 0; border-radius: 5px}
                small {color: #7b7873}
            }
            #explorer {
                * {color: var(--dark-accent)}
                #lines {padding-left: 5px; font-size: x-small; flex: none; padding-right: 5px; border-right: 0.5px solid var(--border); text-align: right; background: var(--background)}
                #code {padding-left: 5px; font-size: x-small; white-space: preserve; overflow: scroll; text-wrap: nowrap}
                #webview {padding-left: 5px}
                .empty {background-image: repeating-linear-gradient(
                    -45deg, 
                    transparent, 
                    transparent 1rem,
                    var(--dark-accent) 1rem,
                    var(--dark-accent) 4rem
                ); background-size: 400% 400%; animation: backscroll 12s linear infinite}
                .view {resize: horizontal; flex-shrink: 0; width: 20%; border-right: 2px solid var(--border); display: flex; flex-direction: column; overflow: auto;
                    &:has(small) {background: var(--background)}
                    small {font-size: x-small; padding-left: 5px; cursor: pointer; flex-shrink: 0; white-space: nowrap; display: flex; padding: 2px;
                        svg {margin-right: 3px !important; order: unset}
                        p {user-select: none}
                        &:hover {background: var(--main-accent);
                            > svg g path {color: black !important}
                            > p {color: black !important}
                        }
                    }
                    * {order: 2}
                    .dir {order: 1}
                }
            }
    }
    #webstats {
        > div {transition-property: height; transition-duration: 0.2s}
        div > * {transition-property: background, color; transition-duration: 0.2s}
    }
    #filehttp {color: var(--main-accent) !important; padding-left: 2.5px; width: fit-content; white-space: nowrap; cursor: pointer; user-select: none}
}

#middle {width: 15%; background: var(--secondary-accent); overflow: scroll; z-index: 3; background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
    * {color: var(--main-accent)}
        > * {margin-left: 8%; margin-right: 8%}
    h2 {margin-top: 8%; font-size: 2vw; text-transform: uppercase; letter-spacing: -1px; border-bottom: 1px solid var(--dark-accent); text-overflow: ellipsis}
    canvas {aspect-ratio: 1; width: 84%}
    > p {font-family: "Bona Nova SC", serif; font-weight: bold; font-size: 10px; height: 12px; letter-spacing: 1px}
    > div {border-top: 1px solid var(--dark-accent); display: flex; align-items: baseline; flex-wrap: wrap}
        #system {margin-bottom: 18%;
            div p {font-family: "Arial"; align-items: center; font-size: 1.25vh; white-space: pre-line; color: var(--dark-accent); display: flex; margin-right: 20px;
                &::before {height: 2.25vh; width: 2.25vh; margin-right: 5px; background: var(--main-accent); border-radius: 100%; content: ""}
            }
            > div {display: flex; align-items: center; margin-top: 6px}
        }
        #gallery {margin-right: 0; border-image: linear-gradient(to left, transparent -5%, var(--dark-accent) 100%) 1; margin-left: 9%;
            #images {order: 3; width: 100%; display: flex; flex-wrap: wrap; margin-right: 9%; justify-content: space-around; min-height: 49vh; align-items: center; align-content: flex-start;
                &:has(div.loading) {justify-content: space-between !important}
            }
            > h3 {font-family: "Anton SC", sans-serif; letter-spacing: 1px; font-size: medium; line-height: 18px}
            > div > div {height: 55px; display: flex; font-size: x-small; color: var(--dark-accent); line-height: 17px}
            &::after {content: ""; width: 100%; height: 20px; background: linear-gradient(to top right, transparent 40%, rgba(0, 0, 0, 0.2) 100%); order: 2}
            img {margin: 1%}
            div.loading {background: linear-gradient(225deg, grey, white); background-size: 400%; animation: loadanim 2s infinite; margin: 1%}
        }
}

#right {width: 15%; background: var(--background); overflow: auto; z-index: 3;
    * {margin: 1.5vh; color: var(--dark-accent); flex-shrink: 0}
    #version {width: 100%; display:flex; margin-bottom: 0; align-items: center;
        * {margin: 0; white-space: nowrap}
        div {margin: 5px !important; width: 40px; height: 40px; border-radius: 3px; flex: none; display: flex; justify-content: center; align-items: center; font-size: x-large; color: var(--main-accent); pointer-events: none; user-select: none; background: grey}
        p {font-size: x-small; max-width: 71%; white-space: pre-line; -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box}
        span {font-size: xx-small}
    }
    #notifications {max-height: 50%; height: auto; overflow: auto;
        * {margin: 0; white-space: nowrap}
        div {width: 100%; height: 55px; display:flex;
            img {margin: 5px !important; width: 45px; border-radius: 3px; flex: none}
            div {margin: 5px !important; width: 45px; height: 45px; border-radius: 3px; flex: none; display: flex; justify-content: center; align-items: center; font-size: 26px; color: var(--main-accent); pointer-events: none; user-select: none}

            p{margin-top: 5px !important; margin-left: 20px !important; font-size: x-small; max-width: 71%; white-space: break-spaces}
        }
        h3 {position: sticky; font-size: 10px; background: #302c2b; padding: 1px; padding-left: 12px; border-top: 0.8px solid #4f4c47}
        small {font-size: 11px; color: var(--main-accent)}

        whitespace {display: block; background: #2e2a28; height: 2px; width: 100%}
    }
}

#overlay {content: ""; clip-path: polygon(19% 0, 71% 0, 71% 53%, 19% 52%)}
/* ↑ objects ↑ */

.static {position: absolute; height: 100vh; width: 100vw; pointer-events: none}

/*.collapse div {background: grey}
.collapse input:checked ~ div {background:blue}*/
.collapse {height: 20px !important; background: #221411; border: solid 1px var(--border); margin: 1%; width: initial !important;
    &.active {height: 100px !important;
        &.content {display: block}
    }
    small {color: var(--main-accent); user-select: none}
    > .content {height: 200px; display: none; position: initial !important; z-index: 2}
    > div {
        &:not(.content) {height: 20px; border-bottom: 1px solid var(--border); border-left: 5px solid transparent; border-right: 5px solid transparent}
        &:hover:not(.content) {background: var(--main-accent);
            small {color: black !important}
        }
    }
    &.content {position: absolute; width: 20px; height: 20px}
}

.buttons {display: flex; height: auto !important;
    > div {margin: 1%; background: #221411; border: solid 1px var(--border); width: 100%; display: flex; justify-content: center; align-items: center; aspect-ratio: 1; flex-direction: column; color: var(--main-accent); font-size: x-small;
        * {color: var(--main-accent)}
        p {width: min-content}
        &:hover, &.active{background: var(--main-accent);
            * {color: var(--background) !important}
        }
    }
}